## Python Review

In [14]:
#list
num = [1,2,3]
print(num[0]) #index starts at 0

print(len(num))

num.append(4) #append 4 to the tail of the list, num
print(num)

#change the 2nd element to 100
num[1] = 100

print(num)

1
3
[1, 2, 3, 4]
[1, 100, 3, 4]

In [15]:
#dictionary

score = {'kevin':100, 'james':81}

#add jessica and her midterm score, 85

score['jessica'] = 85

#update the jame's midtermm score from 81 to 86

score['james'] = 86

score

{'kevin': 100, 'james': 86, 'jessica': 85}

In [ ]:
# Function

def xyz (x, y=10, z=False):
  print(x, y, z)
  return x

a=10
xyz(a)

xyz(a, 100, True)

xyz(a,200)

10 10 False
10 100 True
10 200 False

10

In [17]:
import numpy as np

x = np.array([1,2,3]) #numpy array
y = np.array([1,2,3])

print(x+y) #elemen-wise operation

a = [1,2]
b = [3,4]  #list

print(a+b) #concaternation

[2 4 6]
[1, 2, 3, 4]

In [18]:
#Column subsetting!

import pandas as pd

employee = pd.DataFrame({
    "Name": ["Jame", "Kate", "Omar", "Mei", "Luis"],
    "Age": [19, 24, 21, 28, 32],
    "City": ["Austin", "Riverside", "San Jose" , pd.NA, "Portland"],  # blank city as pd.NA
    "HoursWorked": [40, 45, 35, 50, 30],
})

print(employee)

print("*******************")

#all return the same result ; single column subsetting
print(employee[["Name"]])
print(employee['Name'])
print(employee.Name)

# Multiple column subseeting

print(employee[['Name', 'City']])

   Name  Age       City  HoursWorked
0  Jame   19     Austin           40
1  Kate   24  Riverside           45
2  Omar   21   San Jose           35
3   Mei   28       <NA>           50
4  Luis   32   Portland           30
*******************
   Name
0  Jame
1  Kate
2  Omar
3   Mei
4  Luis
0    Jame
1    Kate
2    Omar
3     Mei
4    Luis
Name: Name, dtype: object
0    Jame
1    Kate
2    Omar
3     Mei
4    Luis
Name: Name, dtype: object
   Name       City
0  Jame     Austin
1  Kate  Riverside
2  Omar   San Jose
3   Mei       <NA>
4  Luis   Portland

In [ ]:
employee  #missing values --> either NaN or <NA>

   Name  Age       City  HoursWorked
0  Jame   19     Austin           40
1  Kate   24  Riverside           45
2  Omar   21   San Jose           35
3   Mei   28       <NA>           50
4  Luis   32   Portland           30

In [ ]:
# Row subsetting

#Return the second and third rows
print(employee.iloc[1:3])  #integer based

print('************')
print(employee.loc[1:2]) #label based


#first three rows and and the columns, Name and City
print("*********")
print(employee.loc[0:2, ['Name', 'City']])
print("*********")
print(employee.iloc[0:3, [0,2]])

   Name  Age       City  HoursWorked
1  Kate   24  Riverside           45
2  Omar   21   San Jose           35
************
   Name  Age       City  HoursWorked
1  Kate   24  Riverside           45
2  Omar   21   San Jose           35
*********
   Name       City
0  Jame     Austin
1  Kate  Riverside
2  Omar   San Jose
*********
   Name       City
0  Jame     Austin
1  Kate  Riverside
2  Omar   San Jose

In [20]:
# advance row subsetting  -> Show me the employees whose ages are greater than 20 with two columns, Name and Age

employee[employee.Age > 20][['Name','Age']] # Note you must use double brakets --> Why?  multiple columns are used

   Name  Age
1  Kate   24
2  Omar   21
3   Mei   28
4  Luis   32

In [21]:
# Remove rows with missing values such as NaN, <NA>, etc. --> dropna

#Remove the rows with the missing values permenantly if both Name and Age columns contain NaN (missing values)
employee.dropna(subset=['Name', 'Age'], how = 'all', inplace = True, axis = 0)
#if how = any  --> either Name or Age columns
#if inplace = True --> permenantly remove the rows with missing values from the original dataframe, employee
# axis = 0 --> row wise operation